*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-family: sans-serif;
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -ms-overflow-style: scrollbar;
    -webkit-tap-highlight-color: transparent;
}


.clearfix::after {
    display: block;
    clear: both;
    content: "";
}

body {
    font-size: 1rem;
    font-family: "PT Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.row {
    display: flex;
    flex-flow: column wrap;
   
}

/* set default styles */


 a {
    color: white;
    text-decoration: none;
}

header {
    width: 100%;
    background-color: #393939;
    color: white;
    padding: 0 5%;

}

header h1 {
    font-family: 'Cairo', sans-serif;
}
header nav {
    
}

header nav ul li {
    list-style-type: none;
}



main {
    position: relative;
    width: 100%;
}

main .tagline {
    background-color: #626262;
    padding: 20px 40px;
    text-align: center;
}
main .tagline span{
    padding-bottom: 2px;;
    border-bottom: 2px solid #00e1d4;
}

.hero {
    background: url("../img/bg.jpg") repeat-y;
    background-size: 100% 100%;
    height: 200px;
    padding: 0 5%;
    
}

.hero h2{
    padding-top: 200px;
    text-align: center;
}
.hero p {
    padding-top: 10px;
}

section:nth-child(1) {
    margin-top: 180px;
}
section:nth-child(2) {
  

}

section.more-info {
    text-align: center;
    justify-content: space-around;
    margin-bottom: 25px;
    padding: 0 15%;
    
}

.more-info h2 {
    padding-bottom: 5px;
}

.more-info p {
    text-align: left;
}

.btn {
    transition: all .2s ease-in;
}



.more-info .btn {
    background-color: #A8A9AD;
    margin-top: 10px;
    display: inline-block;
    min-width: 170px;
    height: 40px;
    text-align: center;
    line-height: 2.5;


}

.more-info .btn:hover {
    background-color: #222;
}

footer {
    background-color: #393939;
    height: 60px;
    padding-top: 20px;
    text-align: center;
    width: 100%;
    color: #fff;
}

/* media styles laptop/desktop */

@media screen and (min-width: 992px) {

    .row {
    flex-flow: row nowrap;
}

    .hero {
    height: 500px;
    padding: 0;
    margin-bottom: 30px; 
    color: #fff;
  
    }


    .hero h2, .hero p {
        background-color: rgba(0, 0, 0, .5);
        width: 40%;
        position: absolute;
        top: 0;
        right: 25px;
        
    }




    .hero h2 {
        padding-top: 10px;
        top: 188px;

        
        
    }

    .hero p {
        padding: 2% 5%;
        top: 225px;
        font-size: 1.15rem;
        margin-bottom: 10px;
        
    }

    .hero .btn {
        border: 2px solid #fff;
        color: #fff;
        background-color: #00e1d4;
        padding: 10px 15px;
        position: absolute;
        top: 395px;
        right: 10%;
    
    }

    .hero .btn:hover {
        color: black;
        background-color: #A8A9AD;
        border: 2px solid #eeeeee;
    }


    section:nth-child(2) {
        border-left: 1px solid #ccc;
        border-right: 1px solid #ccc;
        margin: auto;
    }

    section.more-info {
        margin: 0;
        margin-bottom: 20px;
        flex: 1 30%;
        padding: 0 5%;
        height: 280px;
        position: relative;

    }
    .more-info h2 {
        padding-bottom: 10px;
    }

    .more-info .btn {
        position: absolute;
        left: 32%;
        top: 80%;
        }


}